@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --primary: rgb(254, 44, 85);
  --black: #000;
  --text-color: #333;
  --white: rgb(255, 255, 255);
  // default layout variable
  --default-layout-width-content: 1528px;
  --default-layout-header-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
